<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
    <link rel="icon" href="https://cdn.pixabay.com/photo/2018/06/22/19/03/logo-3491390_1280.png" type="image/png">
</head>
<body>
    <form method="post" action="/posts" class="new">
        <input type="text" placeholder="Enter username" name="username"> <br> <br>
        <textarea placeholder="write your post" name="content"></textarea><br>
        <button>Post</button>
    </form>
</body>
</html>